@model IEnumerable<EntityLayer.Concrete.Comment>
@{ 
    var yorum = 0;
    foreach(var x in Model)
    {
        yorum++;
    }
}
<div class="pt-5">

    @if (yorum > 0)
    {
        <h3 class="mb-5">
            Bu postta @yorum adet yorum var
        </h3>
    }
    @if (yorum == 0)
    {
        <h3 class="mb-5">
            Bu postta hiç yorum yok , ilk yorumu sen yapmak ister misin ? :)
        </h3>
    }



    <ul class="comment-list">
        @foreach (var item in Model)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="/miniblog/images/images.png" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@item.Username</h3>
                    <div class="meta">@(((DateTime)item.CommentDate).ToString("dd-MMM-yyy"))</div>
                    <p>@item.CommentText</p>
                </div>
            </li>
        }


    </ul>


    @*@Html.Action("LeaveComment", "Comment");*@
</div>
